.chat__main{
  width: calc(100% - 300px);
  float:left;
  box-sizing: border-box;
  &__group{
    background-color: #ffffff;
    border-bottom:1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    height:100px;
    &__leftbox{
      margin-top:35px;
      &__name{
        color:#333333;
        font-size:20px;
        margin-bottom:15px;
      }
      &__member{
        display:flex;
        font-size:12px;
        color:#999999;
        margin-top:15px;
        .ul{
        
        }
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      right: 40px;
      color:#38aef0;
      font-size:16px;
      list-style: none;
      position:absolute;
      .btn{
        text-decoration: none;
      }
    }
  }
  &__message{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    overflow:scroll;
    padding: 46px 40px;
  }
  &__form{
    height:90px;
    padding:20px 40px;
    background-color: #d2d2d2;

    form{
      display:flex;
      .input-box{
        width:100%;
        display:flex;
        position:relative;
        &__text{
          height:50px;
          width:100%;
          color:#434a54;
          border-style:none;
          padding:0 40px 0 10px;
        }
        &__image{
          position:absolute;
          top:10px;
          right:10px;
          cursor:pointer;
          font-size:1.3rem;

          &__file{
            display:none;
          }
        }
      }
      
      .submit-btn{
          
        width:100px;
        height:50px;
        padding: 0 30px;
        margin-left:15px;
        background-color: #38aef0;
        color:#ffffff;
        cursor:pointer;
        
      }
    }
  
  }
}
}